################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/APITesting/bin/Debug
/APITesting/obj/Debug
/APITesting/obj/Release
/APITesting/obj
